// Variables
@import './button.scss';

$primary-color: #3498db;
$primary-color-hover: #2980b9;
$primary-color-active: #1d6fa5;
$danger-color: #e74c3c;
$danger-color-hover: #c0392b;
$background-color-light: #f9f9f9;
$text-color-dark: #333;
$text-color-light: #fff;
$border-color: #ddd;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.129);
$border-radius: 0.5rem;
$transition: 0.3s ease;
$title-font-size: 1.2rem; // Taille de police pour les titres

.loadingSpinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}

.loadingSpinner::before {
  content: '';
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cartContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .cartHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 2rem;
      margin: 0;
      color: $text-color-dark;
      text-align: center;
    }
  }

  .cartItemContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }
  }

  .cartTotalContainer {
    height: fit-content;
    padding: 24px;
    border-radius: $border-radius;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

    .total {
      font-weight: bold;
      text-align: right;
      color: $text-color-dark;
      font-size: 1.5rem;
      margin: 0 0 20px 0;
    }

    .proceedButton {
      @include button-styles;
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    @media (min-width: 900px) {
      width: 65%;
    }
  }

  li {
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    height: auto;
    padding: 24px;
    background-color: white;
    transition: background-color $transition;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-bottom: 34px;

    &:hover {
      transform: scale(1.05);
    }

    .productImage {
      min-width: 100px;
      width: 100px;
      height: 172px;
      margin-right: 20px;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      object-fit: cover;

      @media (min-width: 601px) {
        min-width: 120px;
        width: 120px;
      }

      @media (min-width: 690px) {
        min-width: 230px;
        width: auto;
        height: 166px;
      }
    }
  }

  .productDetails {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (min-width: 690px) {
      flex-direction: row;
    }

    .productDetailsContent {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 14px;

      h3 {
        font-size: 15px;
        margin: 0.5px;
        color: $text-color-dark;

        @media (min-width: 690px) {
          font-size: 1.3rem;
        }
      }

      p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: $text-color-light;
      }
    }

    .productDetailsPrice {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      gap: 11px;
      width: 100%;

      @media (min-width: 690px) {
        align-items: center;
        width: auto;
      }

      .priceQuantity {
        display: flex;
        flex-direction: column;
        gap: 11px;
        align-items: flex-end;

        @media (min-width: 690px) {
          align-items: center;
        }
      }

      .removeProduct {
        font-size: 0.7rem;
        padding: 8px 10px;
        background-color: $danger-color;
        color: $text-color-light;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        transition: background-color $transition, transform 0.2s ease;
        width: 100%;

        &:hover {
          background-color: $danger-color-hover;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }

        @media (min-width: 690px) {
          font-size: 0.9rem;
          padding: 7px 0;
        }
      }
    }
  }

  .priceInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    span {
      font-size: 1.2rem;
      color: $text-color-dark;
      margin-bottom: 5px;

      &:last-child {
        font-weight: bold;
        margin-top: 8px;
        text-align: center;
      }
    }
  }

  .quantityButtons {
    display: flex;
    align-items: center;

    .decrement,
    .increment {
      @include button-styles;
      width: unset;
      cursor: pointer;
      padding: 0.25rem 0.875rem;
      border-radius: 0.25rem;
      transition: background-color 0.1s ease, color 0.1s ease;

      &:hover {
        //background-color: #3b82f6;
        //color: #f0f9ff;
      }
    }

    .decrement {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .increment {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    span {
      width: 2rem;
      background-color: #ffffff;
      text-align: center;
      font-size: 0.9rem;
      outline: none;
      height: 23px;
      line-height: 24px;
    }
  }

  .underlineTitle {
    font-size: $title-font-size;
    font-weight: bold;
    text-decoration: underline;
    color: $text-color-dark;
    margin-bottom: 15px;
  }
}

.emptyCartMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 20px;
  padding: 20px;
  border: 2px dashed $border-color;
  border-radius: 10px;
  background-color: $background-color-light;

  p {
    font-size: 1.2rem;
    color: $text-color-dark;
    margin: 10px 0;
  }

  svg {
    color: $primary-color;
  }
}

.actionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-content: center;
  position: relative;

  @media (min-width: 690px) {
    flex-direction: row;
    gap: 2%;
  }

  .backButton {
    @include button-styles;
    position: absolute;
    top: 0;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    padding: 5px;

    @media (max-width: 690px) {
      left: 0 !important;
    }

    svg {
      height: 2em;
      width: 2em;
    }
  }
}

.datePickerContainer {
  height: 289px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: $text-color-dark;
  padding: 20px;
  border-radius: $border-radius;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 90%;
  position: relative;
  min-width: 230px;

  @media (min-width: 690px) {
    width: 20%;
    text-align: right;
    height: 435px;
  }

  .dateTitle {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;

    @media (min-width: 690px) {
      margin-bottom: 60px;
    }
  }

  .dataSelectContainer {
    width: 100%;
  }

  .dateSelect {
    margin-top: 10px;
    border: 2px solid #5b5b5b;
    box-shadow: inset 0 0.0625em 0.125em hsla(0, 0%, 4%, 0.05);
    border-radius: 290486px;
    width: 95%;
    height: 55px;
    font-size: 1rem;
    margin-bottom: 10px;
    padding: 0 10px;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    @media (min-width: 690px) {
      width: 100%;
    }
  }
}

.errorMessage {
  position: absolute;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #e74c3c;
  border-radius: 0.5rem;
  background-color: #f8d7da;
  color: #e74c3c;
  font-size: 0.9rem;
  text-align: center;
  bottom: 4%;
  left: 3%;
  right: unset!important;
  @media (max-width: 690px) {
    bottom: 0!important;
    left: 5%!important;
    margin-bottom: 0!important;
  }
}

.checkoutButton {
  @include button-styles;
  bottom: 34px;
  width: 30%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;

  @media (min-width: 690px) {
    width: 83%;
  }
}

.customerInfo {
  height: 435px;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: center;

  h3 {
    font-size: $title-font-size;
    color: $text-color-dark;
    margin-bottom: 20px;

    @media (min-width: 690px) {
      margin-bottom: 45px;
    }
  }

  input {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0.0625em 0.125em hsla(0, 0%, 4%, 0.05);
    border-radius: 290486px;
    width: 90%;
    height: 55px;
    font-size: 18px;
    margin: 10px auto 30px;
    padding: 0 10px;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    @media (min-width: 690px) {
      margin: 10px 0;
    }
  }

  .firstInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .firstInfoName,
  .firstInfoEmail,
  .firstInfoAddress {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.paymentButton {
  @include button-styles;
  margin-top: 30px;

  @media (min-width: 690px) {
    margin-top: 50px;
  }
}