// styles/Header.scss
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
// Variables (définies ici pour personnaliser facilement les couleurs, tailles et espacements)
$header-bg-color: white;
$header-text-color: #009ddf;
$nav-link-bg-color: white;
$nav-link-hover-bg-color: #009ddf;
$nav-link-hover-color: white;
$cart-icon-bg-color: red;
$cart-icon-text-color: white;
$cart-icon-border-color: white;
$cart-icon-font-size: 12px;

// Style principal du header
.header-container {
  min-height: 4rem;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $header-bg-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .lonely-cart {
    display: none;
    position: absolute;
    right: 4%;
    top: 42px;

    .cart-item-count {
      right: -30px;
    }

    .nav-link {
      text-decoration: none;
      color: $header-text-color;

      &:hover {
        color: $nav-link-hover-bg-color;
      }

      svg {
        font-size: 1.5rem;
      }
    }
  }

  .drawer-container {
    display: none;
    .drawer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      background-color: $header-bg-color;

      .nav-list {
        flex-direction: column;
        gap: 15px;
        width: 70%;

        .nav-link {
          display: flex;
          justify-content: center;
          padding-right: 33px; // to center the text because of the icon
        }
      }
      .cart-item-count {
        right: -85px;
        top: -22px;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin: 0.5rem 0;
    width: 100%;

    .header-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 18px;
      font-family: 'Playfair Display', serif;
      font-size: 1.5rem;
      white-space: nowrap; /* Prevents text from breaking to multiple lines */
      font-style: italic;
      //background: linear-gradient(90deg, blue, white, red);
      text-decoration: none;
      color: $header-text-color;
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent; // Makes the text transparent to show the gradient
      h1 {
        margin: 0;
      }
    }

    .nav-button {
      display: none;
    }
  }

  .cart-icon-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;

    .menu-btn {
      margin: 0;
      border: 0;
      padding: 0;
      background-color: transparent;
    }

    .product-link {
      color: unset;
    }

    .szh-menu-button--open {
      .nav-link {
        background-color: $nav-link-hover-bg-color !important;
        color: $nav-link-hover-color !important;
      }
    }

    a {
      text-decoration: none;
    }

    li {
      .nav-link {
        font-size: 1.1rem;
        white-space: nowrap;
        margin-top: 5px;
        color: $header-text-color;
        font-weight: 700;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: $nav-link-bg-color;

        &:hover {
          background-color: $nav-link-hover-bg-color;
          color: $nav-link-hover-color;
        }

        svg {
          margin-right: 8px;
        }
      }
    }
  }

  .cart-item-count {
    border-radius: 9999px;
    align-items: center;
    width: 1.5rem;
    justify-content: center;
    height: 1.5rem;
    display: inline-flex;
    inset-inline-end: -0.5rem;
    position: absolute;
    border: 2px solid rgb(17 24 39 / 1);
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    color: rgb(255 255 255 / 1);
    background-color: rgb(240 82 82 / 1);
    font-weight: 700;
    padding: 14px;
    font-family:
      Inter,
      ui-sans-serif,
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
    right: -79px;
    top: -24px;
  }
}

@media (max-width: 1130px) {
  .header-container {
    .header {
      .header-title {
      }
    }
  }
}

@media (max-width: 1145px) {
  .header-container {
    .lonely-cart {
      display: unset;
    }

    .drawer-container {
      display: unset;
    }

    .header {
      min-width: unset !important;
      justify-content: center !important;

      .header-title {
        font-size: 1.25rem !important;
      }

      nav {
        width: unset !important;
      }

      .nav-button {
        position: absolute !important;
        left: 2% !important;
        top: 30px;
        cursor: pointer;
        display: flex !important;
        align-items: center !important;
        margin: auto;
        padding: 0.5rem 0.75rem;
        border: 1px solid white;
        border-radius: 0.25rem;
        color: white;
        background-color: #009ddf;
        transition:
          color 0.3s,
          border-color 0.3s;

        &:hover {
          color: #006087;
          border-color: white;
        }

        .icon {
          fill: currentColor;
          height: 1.5rem; // equivalent to h-6 in Tailwind
          width: 1.5rem; // equivalent to w-6 in Tailwind
          color: white;
        }
      }

      .nav-list {
        display: none !important; // Cacher le menu par défaut
        flex-direction: column;
        gap: 10px;
        max-height: 0px;

        &.open {
          display: flex !important; // Afficher le menu si la classe "open" est présente
          max-height: 330px;
          align-items: center;
          transition: 4s ease-out !important;
        }
      }

      .nav-item {
        grid-column: span 2;
      }
    }
  }
}

@media (max-width: 690px) {
  .header-container {
    .header {
      .header-title {
        flex-direction: column;
        transform: unset;
        gap: 0;
      }
    }
  }
}

@media (max-width: 488px) {
  .header-container {
    .lonely-cart {
      right: 7%;
    }
    .header {
      .header-title {
        font-size: 0.75rem !important;
      }
    }
  }
}
