/* styles/CartPage.module.css */

/* Container principal du panier */
.cartContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Message lorsque le panier est vide */
.emptyCartMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  margin: 20px;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.emptyCartMessage p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.emptyCartMessage svg {
  color: #007bff; /* Couleur de l'icône */
}

/* Reste des styles... */

.cartContainer h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.cartContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cartContainer li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  transition: background-color 0.3s ease;
}

.cartContainer li:hover {
  background-color: #f9f9f9;
}

.cartContainer img {
  max-width: 120px; /* Ajuster la taille des images */
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartContainer .productDetails {
  flex: 1;
}

.cartContainer h3 {
  font-size: 1.3rem;
  margin: 0;
  color: #333;
}

.cartContainer p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #555;
}

.cartContainer .priceQuantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.cartContainer .quantityButtons {
  display: flex;
  align-items: center;
}

.cartContainer .quantityButtons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 5px;
}

.cartContainer .quantityButtons button:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.cartContainer .quantityButtons button:active {
  transform: scale(0.9);
}

.cartContainer .quantityButtons span {
  margin: 0 10px;
  font-size: 1rem;
}

.cartContainer .removeProduct {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 10px;
}

.cartContainer .removeProduct:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.cartContainer .removeProduct:active {
  transform: scale(0.95);
}

.cartContainer .total {
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
  text-align: right;
  color: #333;
}
