.header {
  background-color: #333; /* Fond noir pour le header */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInFromLeft 2s ease-out;
}

.header-title {
  font-size: 2.5rem;
  font-family: "Georgia", serif;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
  word-wrap: break-word;
  opacity: 0;
  transform: translateX(-10px);
  animation: slideInFromLeft 2s ease-out forwards;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  opacity: 0;
  transform: translateX(-10px);
  animation: slideInFromLeft 2s ease-out 1s forwards;
}

.nav-list li {
  display: inline-block;
  position: relative;
}

.nav-list a {
  text-decoration: none;
  color: white; /* Assurez-vous que le texte des liens est blanc */
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem; /* Ajoutez un peu d'espace autour du texte */
  border-radius: 5px; /* Arrondir les coins */
  background-color: #333; /* Fond noir pour le conteneur du lien */
}

.nav-list a:hover {
  background-color: #444; /* Couleur de fond au survol pour le conteneur */
  color: #ddd; /* Couleur du texte au survol */
}

.nav-list svg {
  margin-right: 8px;
}

/* Ajout de styles pour le conteneur de l'icône du panier */
.cart-icon-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Ajout de styles pour la bulle de notification */
.cart-item-count {
  position: absolute;
  top: -24px;
  right: -60px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
}

/* Animation */
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }

  .nav-list {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.5rem;
  }

  .nav-list {
    gap: 8px;
  }
}
