// HomePage.scss

// Animation de fondu et montée
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Conteneur principal de la page d'accueil
.home-container {
  padding: 1rem; // Réduction de l'espacement général
  text-align: center;
  opacity: 0; // Démarre avec une opacité à 0 pour l'animation
  transform: translateY(20px); // Position initiale décalée pour l'animation
  animation: fadeInUp 1.5s ease-out forwards; // Animation douce de fondu et montée
  margin-bottom: 1rem;

  // Titre principal
  h1 {
    font-size: 2rem; // Réduction de la taille de la police du titre principal
    color: #333333;
    margin-bottom: 0.5rem; // Réduction de l'espacement en bas du titre
    opacity: 0; // Démarre avec une opacité à 0 pour l'animation
    transform: translateY(20px); // Position initiale décalée pour l'animation
    animation: fadeInUp 1.5s ease-out 0.5s forwards; // Animation douce de fondu et montée avec délai
  }

  // Paragraphe
  p {
    font-size: 1rem; // Réduction de la taille de la police des paragraphes
    color: #666;
    margin: 8px 0 0 0;
    line-height: 1.4; // Ajustement de l'interligne pour une meilleure lisibilité
    opacity: 0; // Démarre avec une opacité à 0 pour l'animation
    transform: translateY(20px); // Position initiale décalée pour l'animation
    animation: fadeInUp 1.5s ease-out 1s forwards; // Animation douce de fondu et montée avec délai
  }
}

// Responsive Design
@media (max-width: 768px) {
  .home-container {
    h1 {
      font-size: 1.75rem; // Réduit la taille de la police du titre principal
    }

    p {
      font-size: 0.9rem; // Réduit la taille de la police des paragraphes
    }
  }
}

@media (max-width: 480px) {
  .home-container {
    h1 {
      font-size: 1.5rem; // Réduit davantage la taille de la police du titre principal pour les très petits écrans
    }

    p {
      font-size: 0.8rem; // Réduit davantage la taille de la police des paragraphes pour les très petits écrans
    }
  }
}
