/* styles/Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond sombre avec opacité */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assure que la modale est au-dessus du contenu */
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 600px; /* Ajusté pour accommoder des images plus grandes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001; /* Assure que la modale est au-dessus de l'overlay */
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 20px; /* Espacement sous l'image */
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #28a745;
  color: #fff;
}

.modal-buttons button:last-child {
  background-color: #dc3545;
  color: #fff;
}
